@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* navbar */

.navbar-transition {
	transition: background-color 0.3s ease;
}

.navbar-nav .nav-link {
	font-weight: 500;
	color: white !important;
}

/* end navbar */
/* hero */
.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	filter: brightness(80%) sepia(20%);
}

.hero-1 {
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	color: #fff;
}
.hero-2 {
	font-size: 48px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #fff;
}

.logo1 {
	width: 150px;
}

/* pengantatr */
.pengantar {
	padding: 100px 0;
	background-color: #f8f9fa; /* Warna latar belakang */
	text-align: center;
}

.pengantar-1 {
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #000;
	margin-bottom: 40px;
}

.card-pengantar {
	background-color: #fff; /* Warna latar belakang card */
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Shadow card */
}

.pengantar-2 {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #333; /* Warna teks */
	line-height: 1.8; /* Jarak antar baris */
}

.card-pengantar {
	width: 100%;
	padding: 40px;
	background-color: #e8d933;
	border-radius: 12px;
	/* box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75); */
}

.card-pengantar:hover {
	transform: translateY(-5px); /* Angkat kartu ke atas */
	transition: all 0.3s ease-in-out;
}

/* end pengantar */

/* berita */
.berita {
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 100px 120px;
}

.card-news:hover {
	transform: translateY(-5px);
	transition: transform 0.3s ease-in-out;
}

.berita-1 {
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	color: #000;
	margin-bottom: 40px;
}

.img-news {
	width: 400px;
}

.date-news {
	text-align: start;

	padding: 5px 20px 5px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 5px;
}
.title-news {
	text-align: start;
	padding: 5px 20px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Batasi jumlah baris menjadi 3 */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis; /* Tampilkan titik-titik jika teks melebihi jumlah baris */
}

.btn-news {
	margin-top: 40px;
	/* width: 100%; */
	border: none;
	padding: 12px;
	background-color: #e0d666;
	border-radius: 8px;
}
.a-btn-news {
	font-size: 20px;
	text-decoration: none;
	color: #000;
}
.btn-news:hover {
	opacity: 80%;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
/* end berita */

/* galeri */

.galery {
	/* background-color: #f8f9fa;
	padding: 50px 0;
	text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 120px;
}

.galery-1 {
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	color: #000;
	margin-bottom: 40px;
}

.row {
	display: flex;
	justify-content: center;
}

.col {
	margin-bottom: 20px; /* Jarak antar gambar */
}

.card-galery {
	border: none;
}

.img-hover-zoom {
	overflow: hidden;
	position: relative;
}

.img-hover-zoom img {
	transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
	transform: scale(1.05); /* Efek zoom saat hover */
}

/* end galeri */

/* footer */
.footer {
	background-color: #343a40;
	color: #fff;
	padding: 50px 20px;
}

.footer h5 {
	color: #e8d933;
	font-size: 20px;
	margin-bottom: 20px;
}

.footer p {
	color: #bbb;
	font-size: 16px;
	margin-bottom: 10px;
}

.footer ul li a {
	color: #bbb;
	font-size: 16px;
	text-decoration: none;
}

.footer ul li a:hover {
	color: #fff;
	text-decoration: none;
}
.logo-footer {
	width: 150px;
}

/* end footer */

/* hero profile */
.hero-profile {
	background-size: cover;
	width: 100%;
	height: 500px;
	position: 30% 90%;
	background-position: 30%;
	padding: 100px 120px;
	filter: brightness(70%) sepia(20%);
	align-items: center;
	margin-bottom: 40px;
}

.profile-1 {
	margin-left: -70px;
	margin-top: 100px;
	text-align: start;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 42px;
	font-weight: 600;
	font-style: normal;
	color: #000;
}

.profile-2 {
	margin-left: -70px;
	text-align: start;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 23px;
	font-weight: 600;
	font-style: normal;
	color: #ffea00;
}
/*  */
/* history */
.history {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 120px;
}

.history-1 {
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	color: #000;
	margin-bottom: 40px;
	text-align: center;
}
.history-2 {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #000;
	margin-bottom: 40px;
	text-align: center;
}

/* end hostory */

/* galery */
.galery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 120px;
}

/* end galery */

/* news */
.news {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: sta; */
	padding: 100px 120px;
}

.news-1 {
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	color: #000;
	margin-bottom: 40px;
	text-align: start;
}

.img-news-last {
	width: 100%;
	border-radius: 12px;
}

.title-news-last {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	color: #000;
	text-align: start;
}
.date-news-last {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #7a8a99;
	text-align: start;
}
.content-news-last {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #000;
	text-align: start;
}

.btn-last-news {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #000;
	text-align: start;

	border-radius: 8px;
	border: none;
	background-color: #7a8a99;
	padding: 10px;
}

.news-all {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 120px;
	align-items: center;
}

.card-news-all {
	width: 100%;
	border: none;
	border-radius: 12px;
	margin-bottom: 40px;
}
.title-news-all {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	color: #000;
	text-align: start;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: normal;
}

.btn-all-news {
	display: flex;
	justify-content: center;
	padding: 12px;
	border: none;
	max-width: 200px;
	border-radius: 12px;
	color: #ffea00;
	background-color: #7a8a99;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}

a.btn-all-news {
	color: #ffea00;
}
/*  */

/* profile */

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 120px;
}
.title-profile {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	color: #000;
	text-align: center;
}

.misi-profile {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #000;
	text-align: start;
	padding: 20px;
}
.history-3 {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #000;
	text-align: start;
	padding: 20px;
}

.kontak {
	padding: 80px 0;
	background-color: #f8f9fa;
}

.kontak h2 {
	margin-bottom: 30px;
	font-size: 32px;
}

.kontak p {
	margin-bottom: 30px;
}

.kontak ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
}

.kontak ul li {
	margin-bottom: 10px;
}

.kontak ul li i {
	margin-right: 10px;
}

.kontak form {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.kontak form label {
	font-weight: 600;
}

.kontak form input,
.kontak form textarea {
	margin-bottom: 20px;
}

.kontak form textarea {
	resize: none;
}

.kontak form button {
	width: 100%;
}

.unit-bisnis {
	padding: 50px 0;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* tambahan shadow */
}

.unit-bisnis h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 2.5rem;
}

.unit-bisnis p {
	margin-bottom: 20px;
}

.unit-bisnis .accordion-item {
	margin-bottom: 20px;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 10px;
}

.unit-bisnis .accordion-button {
	background-color: #f8f9fa;
	color: #343a40;
	border: none;
	border-radius: 10px;
	padding: 15px 20px;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: left;
	transition: all 0.3s ease;
}

.unit-bisnis .accordion-button:hover {
	background-color: #e9ecef;
}

.unit-bisnis .accordion-button::after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 0.7em;
	float: right;
	margin-left: 5px;
}

.unit-bisnis .accordion-button.collapsed::after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
}

.unit-bisnis .accordion-button:not(.collapsed)::after {
	content: '\2796'; /* Unicode character for "minus" sign (-) */
}

.unit-bisnis .accordion-body {
	background-color: #fff;
	padding: 15px 20px;
	border-radius: 0 0 10px 10px;
}

.flag-img {
	width: 18px;
	height: auto;
	margin-right: 5px;
}
